

NET "CLK" LOC = P129; #12MHz 

# Outputs
NET "HS" LOC = P93;
NET "VS" LOC = P92;

NET "RED[0]" LOC = P103;
NET "RED[1]" LOC = P104;
NET "RED[2]" LOC = P105;


NET "GREEN[0]" LOC = P99;
NET "GREEN[1]" LOC = P101;
NET "GREEN[2]" LOC = P102;


NET "BLUE[0]" LOC = P96;
NET "BLUE[1]" LOC = P98;